.vscode/**
src/**
node_modules/**
esbuild.mjs
vitest.config.ts
tsconfig.json
**/*.test.ts
docs/**
.superpowers/**
**/*.map
.gitignore
.github/**
.editorconfig
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
